
/* General Styles */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  --bgcolor: #d23913;
 height: -100px;
 border: #000000;

  }
  
  footer{
    align-self: center;
    color: rgb(0, 0, 0);
    align-items: baseline;
    position: absolute;
    bottom: 0px;
    font-weight: bold;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .head-bar{
    background-color: #b80000;
    justify-content: space-between;
      
    color: rgb(255, 255, 255);
    font-style: inherit;
  }

  .page-header {
    background-color: var(--bgcolor);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    
  }
  .logo {
    color: white;
    align-self: center;
    margin-left: 1.2rem;
    font-size: 2.5rem;
  }
  
  .nav-bar {
    background-color: #d23913/*#006bb8*/;
    margin: auto;
  

  }
  
  .nav-bar a {
    color: white;
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .menu-icon {
    color: white;
    cursor: pointer;
    display: none;
  }
  
  button {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.9rem;
  }
  
  .form-1{
    position: relative;
    width: 100;
    border: 3px solid rgb(248, 247, 247);
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    color: rgb(19, 1, 1);
    font-weight: bold;

    
  }
  
  form{
    width: 550px;
    height: 450px;
    margin: auto;
    position: relative;
  }
  #search{

    max-width: 75%;
  }
  input{

    width: 375px;
    height: 25px;

  }
  h2{  

    color: white;

  }

  .log{

    width: 50%;

  }
  .wrapper{
    position: absolute;
    
    width: 100%;
    padding: 34px;
    border-radius: 6px;
    
  }
  .wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
  }
  .wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #4070f4;
  }  

  .wrapper form{
    margin-top: 30px;
  }
  .wrapper form .input-box{
    height: 45px;
    margin: 10px 0;
  }
  form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #c01111;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #4606f7;
  letter-spacing: 1px;
  border: none;
 background: #1376d2;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: #faf8f8;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}

img{

  
  width: 70px;

}

